################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcommerceCore.Web/EcommerceCore.Web/bin
/EcommerceCore.Web/EcommerceCore.Web/obj/Debug
/EcommerceCore.Web/packages
/EcommerceCore.Web/EcommerceCore.Web/Scripts
/EcommerceCore.Web/.vs
/EcommerceCore.Web/EcommerceCore.Core/bin/Debug
/EcommerceCore.Web/EcommerceCore.Core/obj/Debug
/EcommerceCore.Web/EcommerceCore.Entities/bin/Debug
/EcommerceCore.Web/EcommerceCore.Entities/obj/Debug
/EcommerceCore.Web/EcommerceCore.Services/bin/Debug
/EcommerceCore.Web/EcommerceCore.Services/obj/Debug
/EcommerceCore.Web/EcommerceCore.Utilities/bin/Debug
/EcommerceCore.Web/EcommerceCore.Utilities/obj/Debug
/EcommerceCore.Web/EcommerceCore.Domain/bin/Debug
/EcommerceCore.Web/EcommerceCore.Domain/obj/Debug
/EcommerceCore.Web/EcommerceCore.Web/_bin_deployableAssemblies
/EcommerceCore.Web/EcommerceCore.Core/bin/Release
/EcommerceCore.Web/EcommerceCore.Domain/bin/Release
/EcommerceCore.Web/EcommerceCore.Domain/obj/Release
/EcommerceCore.Web/EcommerceCore.Services/bin/Release
/EcommerceCore.Web/EcommerceCore.Services/obj/Release
/EcommerceCore.Web/EcommerceCore.Utilities/bin/Release
/EcommerceCore.Web/EcommerceCore.Utilities/obj/Release
/EcommerceCore.Web/EcommerceCore.Web/obj/Release
/EcommerceCore.Web/EcommerceCore.Core/obj/Release
/.vs
/EcommerceCore.Web/EcommerceCore.Websites/bin
/EcommerceCore.Web/EcommerceCore.Websites/obj/Release
/EcommerceCore.Web/EcommerceCore.Websites/NewFolder1
/EcommerceCore.Web/EcommerceCore.Web/.vs/EcommerceCore.Website/v15
/EcommerceCore.Web/EcommerceCore.Web/.vs/config
