* {
}

p {
    color: #2411b8;
    font-size: 16px;
}

th {
    color: #d60c39;
    font-size: 17px;
}

h2 {
    background: #03ff00;
    padding: 10px;
    color: blue;
    text-decoration: none;
    font-size: 35px;
    border: 1px dashed;
}

.image,
.image img {
    width: 100%;
    height: 100%;
    border: 1px solid green;
}

td {
    color: #4a11f1;
    font-size: 20px;
}

.detail-product {
    background: rgb(192, 252, 255);
    height: 100%;
}

body {
    background: pink;
}

table,
th,
td {
    border-bottom: 1px solid rgb(29, 57, 134);
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

th {
    text-align: left;
}
