@{
    ViewBag.Title = "Đã đổi mật khẩu thành công";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Mật khẩu bạn đã thay đổi thành công. Vui lòng @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
